<app-herosub [heroContent]="heroContent"></app-herosub>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="who-we-are" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="content">
                        <h2>{{ aboutContent.title }}</h2>
                        <p *ngFor="let item of aboutContent.description">{{ item.text }}</p>
                        <div class="text-center text-lg-start">
                            <a (click)="appMain.navigateToContact()"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center cursor-pointer">
                                <span>Contactez-nous</span>
                                <i class="pi pi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="about-img" class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                    data-aos-delay="200">
                    <img [src]="aboutContent.imageUrl" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= why-us Section ======= -->
    <section id="why-us" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <header class="section-header">
                <p>Pourquoi IT-Consulting Teleo ?</p>
            </header>
            <div class="row gx-0">
                <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                data-aos-delay="200">
                    <img src="assets/img/banner10.png" width="50%" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="200">
                    <div class="content">
                        <h6 class="py-3">Notre expertise, votre avantage

                            Avec une expertise inégalée dans un large éventail de projets informatiques, des plus courants aux plus complexes, nous nous intégrons parfaitement à votre équipe pour répondre aux besoins spécifiques de votre projet. Nous nous occupons de tous les détails essentiels (habilitations de sécurité, certifications, formations, audits et gestion des contrats), ce qui vous permet de vous concentrer sur ce qui compte vraiment pour votre entreprise. Faites-nous confiance pour gérer les complexités afin que vous puissiez vous concentrer sur la réussite.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End why-us Section -->
</main><!-- End #main -->